<mat-card appearance="outlined">
  <mat-card-content>
    <form #postForm="ngForm" (submit)="onAddPost(postForm)">
      <mat-form-field>
        <input matInput name="title" ngModel placeholder="Title" type="text"
          required minlength="3" #title="ngModel"
        >
        <mat-error *ngIf="title.invalid">Title is required</mat-error>
      </mat-form-field>    
      <mat-form-field>
        <textarea matInput name="content" ngModel rows="6"
          required #content="ngModel"
        ></textarea>
        <mat-error *ngIf="content.invalid">Content is required</mat-error>
      </mat-form-field>
      <button mat-button type="submit" color="primary"
        [disabled]="postForm.invalid"
      >Save Post</button>
    </form>
  </mat-card-content>
</mat-card>
